* {
    margin: 0px;
    padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.card-body {
    padding: 0.5rem;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .0;
}

.bg1 {
  background-image: url("imgs/aaa.jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg {
  /* The image used */
  background-color: #000000;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg0 {
  /* The image used */
  background-image: url("imgs/arte.jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

p .card-text {
	padding-bottom: 0.8rem;
	line-height: 1.2rem;
	text-align: justify;
}
.seq:hover{
     background-color: white; 
     color: blue;
}


#card1 {
	background-color: #FF110E;
}

#card3 {
	background-color: #000000;
}

.header-size{
    background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url(imgs/fundo2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 300px;
    padding-bottom: 300px;
}

.message{
    margin: 5px;
    text-align: center;
    position: top;
    font-family: 'Righteous', cursive;
}
.message1{
  font-size: 22px;
}


.coiso{
    background-color: #f2f2f2;
    margin-top: 10px;
}

#card4 {
    background-color: #000000;
}

#card6 {
    background-color: #FF110E;
}
.social:hover {
    transition: .3s;
    transform: scale(1.2);
}

.social {
    transition: .3s;

}