.card-body {
    padding: 0.5rem;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .0;
}

p .card-text {
	padding-bottom: 0.8rem;
	line-height: 1.2rem;
	text-align: justify;
}

#card1 {
	background-color: #FF110E;
}

#card3 {
	background-color: #000000;
}

.header-size{
    background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url(imgs/sushiCaviar.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 300px;
    padding-bottom: 300px;
}

.message{
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-family: 'Righteous', cursive;
}

.coiso{
    background-color: #f2f2f2;
    margin-top: 10px;
}